.plants {
    margin: 98px;

    .plants-body {
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;

        button {
            border: none;
            cursor: pointer;
            appearance: none;
            width: 168px;
            height: 51px;
            padding: 12px 24px;
            gap: 10px;
            border-radius: 8px;
            background-color: #C1DCDC;
            @extend %plants-text;
        }

        h2 {
            @extend %text-high;
        }

        h3 {
            @extend %plants-text;
        }

        p {
            @extend %plants-text;
            color: rgba(30, 30, 30, 0.5);
            width: 196px;
        }
            
        img {
            width: 299.33px;
            height: 363px;
            gap: 0px;
            border-radius: 12px;
        }
    }
}

%plants-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

%text-high {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin: 0        
}


@media screen and (max-width: 1120px) {
    .plants-body {
        .plants-body_1 {
            display: none;
        }
    }    
}
    